<div class="areaChart">
    <area-chart models-number="1" interval="interval"
                height="258" width="792"
                data="modelArrays[item.id]">
    </area-chart>
    <div class="canvasWrapper">
        <canvas class="canvasAreaChart" canvas-area-chart height="170" width="720"
                models-number="1" interval="interval"
                state="{{item.isEditable}}"
                height="258"
                data="modelArrays[item.id]">
        </canvas>
    </div>
</div>